body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-size: 50px;
}
.orangered-color{
    color: orangered;
}
section{
    display: flex;
}
.first-width{
    width: 50%;
    padding-left: 8%;
}
.first-width img{
    width: 60%; 
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange,tomato );
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.blue-color{
    color:rgb(103, 29, 173);
}
.title{
text-align: center;
}
.orange-color{
    color: coral;
}
.flexible-container{
    display: flex;
}
.second-width{
    width: 60%;
    justify-content: space-around;
    padding-left: 6%;
}
.second-width img{
width: 60%;
}
.background-color{
    background-color: rgb(243, 238, 230);
    border-radius: 7%;
    padding: 3% 3%;
}
.background-second-color{
    background-color: rgb(223, 242, 247);
    border-radius: 7%;
    padding: 3% 3%;
}
.background-third-color{
    background-color: rgb(250, 231, 250);
    border-radius: 7%;
    padding: 3% 3%;
}